body {
	background-color:silver;
	color: white;
	padding: 20px;
font-family: Arial, Verdana, sans-serif;}

h1{
	background-color: #ffffff;
	background-color: hsla(0,100%,100%,0.5);
	color: #64645A;
padding: inherit;}

p{ 
padding: 5px;
margin: 0px;}

#dialog-window {
  height: 200px;
  border: 1px black solid;
}

#scrollable-content {
  height: 180px;
  overflow: auto;
  background-color: blue;
}

#footer {
  height: 20px;
  background-color: green;
}

